@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&family=Raleway:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.search-data-width {
  width: 85.6%;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(5, 14.85rem);
  justify-content: space-between;
}

@media only screen and (max-width: 1536px) {
  .custom-grid {
    grid-template-columns: repeat(4, 14.85rem);
  }
}

@media only screen and (max-width: 1248px) {
  .custom-grid {
    grid-template-columns: repeat(3, 14.85rem);
  }
}

@media only screen and (max-width: 931px) {
  .custom-grid {
    grid-template-columns: repeat(2, 14.85rem);
  }
}
@media only screen and (max-width: 600px) {
  .custom-grid {
    grid-template-columns: repeat(1, 14.85rem);
  }
}

.game-card:hover .delete-card {
  display: block;
}

.toast-text {
  padding-top: 0.1rem;
}
